@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');

body {
    background-color: white;
}

#shops {
    display: flex;
    flex-direction: row;
}

#streets {
    display: flex;
    flex-direction: row;
}

#road1 {
    display: flex;
    flex-direction: row;
}

#road2 {
    display: flex;
    flex-direction: row;
}

.shop {
    display: inline-block;
    text-align: center;
    margin-right: 4em;
    vertical-align: 100%;
}

.charts {
    display: inline-block;
    margin: 0 auto;
    border: 0.5em solid black;
    padding: 1em;
    font-size: 1.5em;
}

.number {
    display: inline-block;
    margin: 0 auto;
    border: 0.5em solid black;
    padding: 1em;
}

#front {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    position: relative;
}

.door {
    height: 5em;
    width: 2em;
    border: 0.1em solid black;
    background-color: brown;
    grid-row: 1;
    grid-column: 1;
    line-height: 5em;
    position:absolute;
    bottom: 0;
    padding-left: 0;
}

#separator {
    clear: right;
}

.window {
    background-color: lightblue;
    border: 0.5em solid black;
    color: lightblue;
    width: 15em;
    height: 8em;
    grid-row: 1;
    grid-column: 2;
    margin-left: 2.1em;
    /*font-family: 'Are You Serious', cursive;
    font-size= 2em;*/
}

.street {
    border: 0.5em solid black;
    flex-basis: 11em;
    flex-grow: 0;
    flex-shrink: 0;
    height: 6em;
    background-color: darkgray;
    justify-content: center;
    align-items: baseline;
    position: relative;
    display: flex;
}

.street img{
    width: 3.7em;
}

.upperRoad {
    background-color: rgb(104, 99, 99);
    width: 12em;
    flex-grow: 0;
    flex-shrink: 0;
    height: 6em;
    border-bottom: 0.5em dashed white;
}

.bottomRoad {
    background-color: rgb(104, 99, 99);
    width: 12em;
    flex-grow: 0;
    flex-shrink: 0;
    height: 6.5em;
}

.upperRoad img {
    width: 9em;
    transform: scaleX(-1);
}
.bottomRoad img {
    width: 9em;
}