@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background-color: lightgrey;
}

#mainCont {
    width: 90%;
    margin: 0 auto;
    display: grid;
}

#mainHeader {
    font-size: 4em;
    font-family: 'Nunito', sans-serif;
    grid-row: 1;
    grid-column: 1 / 3;
}

#puzzle {
    grid-row: 2;    
    grid-column: 1;
}

#timer {
    grid-row: 2; 
    grid-column: 2;
}

#username {
    grid-row: 2; 
    grid-column: 3;
}
#results {
    display: flex;
    flex-direction: row;
}

#playZone td {
    width: 13em;
    height: 13em;
}