* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

#container {
    background-color: grey;
    height: 100%;
    width: 70%;
    margin: auto;
    font-size: 2em;
}

.folder-content {
    margin-left: 7%;
}

.custom-checkbox, .file-name {
    width: 85%;
    display: inline-block;
    margin-left: 1%;
}

.custom-checkbox input[type="checkbox"], .custom-checkbox .checked { /*Hides the checkbutton*/
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked~.unchecked {
    display: none;
}

.folder .text {
    /*width: 70%;*/
    display: inline-block;
    margin-right: auto;
}

.folder {
    width: 100%;
}

.addItem, .removeItem {
    display: inline-block;
}


.addItem {
    position: relative;
    left: 0;
}

#info {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(155, 199, 115);
    border: .2em solid rgb(0, 132, 255);
    border-top-right-radius: 20px;
    font-size: 1.4em;
    padding: .5em .5em .5em 1.2em;
}

#notification {
    background-color: lightgreen;
    display: none;
    font-size: 1.4em;
    padding: .4em;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 0;
}