/*Initial commit*/
body {
    background-color: #978c7c;
    display: flex;
    justify-content: center;
}

#container {
    width: 80%;
    background-color: #f1b9b9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    flex-direction: row;
}

#keys2 {
    display: flex;
    flex-direction: column;
}

#keys {
    display: flex;
    flex-direction: row;
}