/*Initial commit*/
body {
    background-color: #978c7c;
    display: flex;
    justify-content: center;
}


#container {
    width: 82%;
    background-color: #f1b9b9;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#writing-zone {
    width: 80%;
    margin: auto;
    resize: none;
    margin-bottom: .5%;
    overflow-wrap: break-word;
}

#keyboard {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: .5%;
    width: 100%;
    padding-top: 5%;
}

#esc {
    grid-column: 1 / span 12;
    width: 12%;
}

#clear {
    grid-column: 13 / span 2;
    text-align: center;
    background-color: #d44e4e;
    color: white;
}
#clear:hover {
    background-color: #d12121;
}
#clear:active {
    background-color: #640c0c;
}

#return {
    grid-area: 3 / 14 / span 2 / 15;
    height: 100%;
}

#r-shift {
    grid-column: 13 / span 2;
}

#space {
    grid-column: 5 / span 6;
}

#l-alt {
    grid-column: 3 / span 2;
}


/*#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    flex-direction: row;
}

#keys2 {
    display: flex;
    flex-direction: column;
    width: ;
}

#keys {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#enter {
    width: 4%;
    display: flex;
}*/

.keys {
    width: 100%;
    background-color: #30aebe;
    border: 2px solid black;
    border-radius: 5px;
    height: 2.4em;
    box-sizing:border-box;
    overflow: visible;
    text-overflow: ellipsis;
}
.keys:hover {
    background-color: #2acce6;
}
.keys:active {
    background-color: #16616d;
}
.keys:focus {
    background-color: #16616d;
}