* {
    font-family: Verdana;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}


#container {
    background-color: grey;
    width: 80%;
    height: 600px;
    margin: auto;
}

#container div {
    display: inline-block;
    width: 120px;
    height: 50px;
    padding-top: 15px;
    padding-left: 35px;
}

br {
    display: inline-block;
    clear: right;
}

.negrita {
    font-weight: bold;
}

.ssf {
    background-color: #09faf8;
    
}